*,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    scroll-behavior: smooth;
    font-family: Arial;
}

.container-sv{
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    align-items: center;
    justify-content: center;
}





.image {
    width: 37.5rem;
    object-fit: cover;
    aspect-ratio: 16/9;
}


.slider {
    width: 37.5rem;
    overflow-x: hidden;
    order: 1;
    padding-bottom: 0.875rem ;
}
.info-wrapper {
    width: 37.5rem;
    order: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.875rem;
}



.paginator-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    
}
.btn-wrapper:hover {
    cursor: pointer;
}

input {
    display: none;
}
.input {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 0.06rem solid #d452e0;
    
    background-color: #d452e0;
    
    transition: all 0.5s ease-in-out;
}

.btn-wrapper:hover .input {
    background-color: rgb(72, 170, 190);
    border: 0.06rem solid rgb(72, 170, 190);

    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-wrapper:active .input {
    background-color: #d452e0;
    border: 0.06rem solid #d452e0;

    cursor: pointer;
    transition: all 0.5s ease;
}


/*
.container-sv input[type=radio]:checked ~ .input {
    
    background-color: #ffffff;
    border: 0.06rem solid #d452e0;

    
    transition: all 0.5s ease;
}*/

#img1:checked ~ .info-wrapper .input1,
#img2:checked ~ .info-wrapper .input2,
#img3:checked ~ .info-wrapper .input3,
#img4:checked ~ .info-wrapper .input4 {
    
    background-color: #ffffff;
    border: 0.06rem solid #d452e0;

    
    transition: all 0.8s ease-in-out;
}

#img1:checked ~ .info-wrapper .btn-wrapper:hover .input1,
#img2:checked ~ .info-wrapper .btn-wrapper:hover .input2,
#img3:checked ~ .info-wrapper .btn-wrapper:hover .input3,
#img4:checked ~ .info-wrapper .btn-wrapper:hover .input4{
    border: 0.06rem solid rgb(72, 170, 190);
}

.description__visible {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    align-self: center;
}
.description__wrapper{

    /*width: 1403px;*/
    display: flex;
    transform: translateX(0%);
    transition: transform 0.8s ease-in-out;
}

.description {
    width: 37.5rem;
    display: flex;
    flex-wrap: nowrap;
    /*white-space: nowrap;*/
    /*padding: 12%;*/
}



.slider__img-holder {
    width: 150rem;
    display: flex;
    
    transform: translateX(0%);
    transition: transform 0.8s ease-in-out;
}

#img1:checked ~ .slider .slider__img-holder,
#img1:checked ~ .info-wrapper .description__wrapper{
    transform: translateX(0%);
}

#img2:checked ~ .slider .slider__img-holder,
#img2:checked ~ .info-wrapper .description__wrapper{
    transform: translateX(-25%);
}

#img3:checked ~ .slider .slider__img-holder,
#img3:checked ~ .info-wrapper .description__wrapper{
    transform: translateX(-50%);
}

#img4:checked ~ .slider .slider__img-holder,
#img4:checked ~ .info-wrapper .description__wrapper{
    transform: translateX(-75%);
}





@media screen and (width >= 1260px) {
    .description {
        width: 79rem; /*rem*/
        font-size: 2rem;
    }

    .slider{
        width: 80%;
    }
    .slider__img-holder{
        width: 400%;
    }

    .image{
        width: 100%;
    }
    .info-wrapper{
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }

    .description__visible{
        order: 1;
        flex-grow: 3;
        width: 80%;
    }

    .description__wrapper{
        width: 400%;
    }

    .paginator-btns{
        width: 50%;
        justify-content: flex-end;
        align-items: flex-start;
        order: 2;
        flex-grow: 1;
    }
}
@media screen and (width >= 1160px) and (width <=1259px){
    .slider{
        width: 80%;
    }
    .slider__img-holder{
        width: 400%;
    }

    .image{
        width: 100%;
    }
    .info-wrapper{
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }

    .description__visible{
        order: 1;
        flex-grow: 3;
        width: 80%;
    }

    .description__wrapper{
        width: 400%;
    }
    .description {
        font-size: 1.25rem;
    }

    .paginator-btns{
        width: 50%;
        justify-content: flex-end;
        align-items: flex-start;
        order: 2;
        flex-grow: 1;
    }
}


@media screen and (width >= 880px) and (width <=1159px){
    .slider{
        width: 80%;
    }
    .slider__img-holder{
        width: 400%;
    }

    .image{
        width: 100%;
    }
    .info-wrapper{
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description__visible{
        
        flex-grow: 3;
        width: 100%;
    }

    .description__wrapper{
        width: 400%;
    }
    .description {
        font-size: 1.25rem;
        width: 60rem;
    }

    .paginator-btns{
        width: 50%;
        justify-content: center;
        
        flex-grow: 1;
    }
}

@media screen and (width >= 750px) and (width <=879px){
    .slider{
        width: 90%;
    }
    .slider__img-holder{
        width: 400%;
    }

    .image{
        width: 100%;
    }
    .info-wrapper{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description__visible{
        
        flex-grow: 3;
        width: 100%;
    }

    .description__wrapper{
        width: 400%;
    }
    .description {
        font-size: 1.25rem;
        width: 55rem;
    }

    .paginator-btns{
        width: 50%;
        justify-content: center;
        
        flex-grow: 1;
    }
}


@media screen and (width >= 720px) and (width <=749px){
    .slider{
        width: 96%;
    }
    .slider__img-holder{
        width: 400%;
    }

    .image{
        width: 100%;
    }
    .info-wrapper{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description__visible{
        
        flex-grow: 3;
        width: 100%;
    }

    .description__wrapper{
        width: 400%;
    }
    .description {
        font-size: 1.3rem;
        width: 55rem;
    }

    .paginator-btns{
        width: 50%;
        justify-content: center;
        
        flex-grow: 1;
    }
}

@media screen and (width >= 320px) and (width <=719px){
    .slider{
        width: 96%;
    }
    .slider__img-holder{
        width: 400%;
    }

    .image{
        width: 25%;
    }
    .info-wrapper{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description__visible{
        
        flex-grow: 3;
        width: 100%;
    }

    .description__wrapper{
        width: 400%;
    }
    .description {
        font-size: 1.3rem;
        width: 55rem;
    }

    .paginator-btns{
        width: 50%;
        justify-content: center;
        
        flex-grow: 1;
    }
}



